body {
      font-family: Verdana, sans-serif;
      color: #3171d1; 
    }

   
    h1 {
      font-family: 'Times New Roman', Times, serif;
    }

    
    h2 {
      font-family: Courier, 'Courier New', monospace;
    }

    
    h3 {
      font-family: Arial, Helvetica, sans-serif;
    }